<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="fi" ng-app="kalmetApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="fi" ng-app="kalmetApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="fi" ng-app="kalmetApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fi" ng-app="kalmetApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kalevalamitan tarkistin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" sizes="192x192" href="icon192x192.png">
    <link rel="apple-touch-icon" sizes="192x192" href="icon192x192.png">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/navbar-fixed-top.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="TopCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" ng-cloak>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" id="title-label" href="#/view1" ng-bind="presenter.document.header.title"></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/" ng-click="newDocument()">Uusi</a></li>
            <li><a href="#/" ng-click="openDocumentSelector()" data-toggle="modal" data-target="#modal-open-doc">Avaa</a></li>
            <li><a href="#/" data-toggle="modal" data-target="#modal-edit-title">Nimeä uudelleen</a></li>
            <li><a href="#/" ng-click="deleteDocument()">Poista</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" data-toggle="modal" data-target="#modal-help">Ohje</a></li>
            <li><a href="#/" data-toggle="modal" data-target="#modal-about">Tietoja</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <kalmet-modal-details></kalmet-modal-details>
    <kalmet-modal-edit-title></kalmet-modal-edit-title>
    <kalmet-modal-open-doc></kalmet-modal-open-doc>

    <kalmet-about></kalmet-about>
    <kalmet-help></kalmet-help>

    <div class="container" style="padding-right: .2em; padding-left: .2em;">
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <kalmet-editor></kalmet-editor>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/model/hyphenation.js"></script>
    <script src="scripts/model/metrical_analyzer.js"></script>
    <script src="scripts/services/extension_service.js"></script>
    <script src="scripts/services/analyzer_service.js"></script>
    <script src="scripts/services/storage_service.js"></script>
    <script src="scripts/controllers/top_controller.js"></script>
    <script src="scripts/directives/kalmet_modal_details.js"></script>
    <script src="scripts/directives/kalmet_modal_edit_title.js"></script>
    <script src="scripts/directives/kalmet_modal_open_doc.js"></script>
    <script src="scripts/directives/kalmet_editor.js"></script>
    <script src="scripts/directives/kalmet_about.js"></script>
    <script src="scripts/directives/kalmet_help.js"></script>
    <!-- endbuild -->

    <script>
      // Close drop-down menu of collapsed navbar (https://github.com/twbs/bootstrap/issues/12852)
      $(document).on('click', '.navbar-collapse.in', function(e) {
        if ($(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle') {
          $(this).collapse('hide');
        }
      });

      $('#modal-edit-title').on('shown.bs.modal', function () {
        $('#title-field').focus();
      });
    </script>
  </body>
</html>
