<div class="modal fade" id="modal-open-doc" tabindex="-1" role="dialog" aria-labelledby="modal-open-doc-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-open-doc-title">
          Avaa teksti
        </h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="#/view1" class="list-group-item" data-dismiss="modal" ng-repeat="header in openDialogHeaders" ng-click="openDocument(header.id)">{{ header.title }}</a>
        </div>
      </div>
    </div>
  </div>
</div>