<div class="modal fade" id="modal-help" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg info-dialog">
    <div class="modal-content">
      <div class="modal-body">
		<h1>Ohje</h1>
		<p><img src="images/help1.png" class="img-responsive" alt="Käyttöliittymä koostuu (1) tekstilaatikosta, (2) painikkeista tekstirivien vieressä ja (3) valikkopalkista"></p>
		<ol>
		  <li>Kirjoita runosäkeet tekstialueelle. Virheelliset tavut alleviivataan punaisella.</li>
		  <li>Saat lisätietoa mahdollisista virheistä painamalla rivin vieressä olevaa painiketta.</li>
		  <li>Tekstiin tehdyt muutokset tallennetaan automaattisesti omalle laitteellesi. Valikon avulla voit luoda, poistaa ja avata tallennettuja tekstejä.</li>
		</ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sulje</button>
      </div>
    </div>
  </div>
</div>

