<div id="editor-container">
  <div id="input" class="column">
    <div id="input-markup">
      <span ng-repeat="line in analyzerService.presentationalLines track by $index"><span ng-repeat="word in line.words">{{ analyzerService.toHtml(word.precedingText) }}<span ng-repeat="syll in word.syllables" class="{{ syll.annotations.textStyle }}">{{ analyzerService.toHtml(syll.text) }}</span></span>{{ analyzerService.toHtml(line.followingText) }}<br></span>
    </div>
    <textarea id="input-area" ng-model="analyzerService.document.text" ng-change="textChanged()" ng-trim="false" rows="{{ analyzerService.presentationalLines.length + 1 }}" placeholder="Kirjoita teksti (1 säe/rivi)" spellcheck="false">
    </textarea>
  </div>
  <div id="line-details-buttons" class="column">
    <div ng-repeat="line in analyzerService.presentationalLines track by $index" class="line-details-button">
      <button type="button" class="btn btn-default {{ line.summary.style }}" ng-disabled="line.isEmpty()" data-toggle="modal" data-target="#modal-details" ng-click="openDetailsDialog($index)">
        <span class="label">
          <span class="glyphicon {{ line.summary.iconStyle }}" aria-hidden="true"></span>
        </span>
      </button>
    </div>
  </div>
</div>
